* {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: serif;
    position: relative;
}

header {
    margin-bottom: 60px;
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
}

li {
    font-size: 20px;
}

/* footer p {
    font-size: 16px;
} */

/* 
ul{
    list-style: none;
} */
#author {
    font-style: italic;
    font-size: 10px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related-list-items {
    list-style: none;
}

.main-header {
    /* padding: top-botton left-right */
    padding: 20px 40px;
    background-color: #ededed;
    /* height: 80px; */
}

aside {
    background-color: #ededed;
    border: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;

}

/* .first-li {
    font-weight: bold;
} */

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

/* li:nth-child(odd) {
    color: red;
}

li:nth-child(even) {
    color: green;
} */

article p:last-child {
    color: red;
}


a:link {
    text-decoration: none;
    color: #1098ad;
}

a:visited {
    color: #777;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

/* a pseudo classes: LVHA */

/* 
css styles hierarchy: 

- !important

- inline

- selectors
        id - 3
        class/ pseudo-class - 2
        element selector - 1
        universal selector - 0 

*/
.post-header {
    margin-bottom: 40px;
}



p {
    margin-bottom: 50px;
}

ol,
ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

.post-img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
}

/* 
nav a {
    background-color: orangered;
    margin: 20px;
    display: block;
    padding: 20px;
}  */

nav a {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

nav a:last-child {
    margin-right: 0;
}

button {
    font-size: 22px;
    padding: 20px;
    /* top: 0;
    left: 0; */
    bottom: 0;
    right: 20px;
    position: absolute;
    cursor: pointer;
}

/* Pseudo Elements */

/* p::first-letter{
    font-weight:bold ;
} */

/* adjacent sibling */
/* all p after h3 */
h3+p::first-line {
    color: red;
}

h2 {
    position: relative;
    display: block;
    width: 70%;
}

h2::after {
    content: "TOP";
    background-color: #ffe70e;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -27px;
    color: #000;
    right: -30px;
}

/* Flexbox */

.main-header {
    display: flex;
    justify-content: space-between;
}

.author-section p {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}

.author-section {
    display: flex;
    align-items: center;
}

.related {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.li-item {
    display: flex;
    gap: 10px;
}

.related-list-items {
    padding-top: 10px;
}

aside {
    padding: 0;
}

.main-content{
    display: flex;
    gap: 10px;
}

.post-header h2{
    width: 100%;
}